<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{message}}</h1>

{% for product in products %}
    <p>{{ product.name }} - {{ product.price }}</p>
{% endfor %}
<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_name">Name</label>
        <input id="id_name" type="text" name="name">
        <label for="id_description">Description</label>
        <input id="id_description" type="text" name="description">
        <label for="id_price">Price</label>
        <input id="id_price" type="number" name="price">
        <label for="id_sku">Sku</label>
        <input id="id_sku" type="text" name="sku">
        <label for="id_image">Image</label>
        <input id="id_image" type="file" name="image">
        <input type="submit" value="Save">
    </form>
</div>
</body>
</html>